extends layout

block title
    title Hello World!


block nav
block main
    //- .screen.full-screen.center
    //-     h1 Feddy Group

    if post
        h4 Posts
        .box
            for item in post.slice(0, 4)
                p
                    strong= item.level === 'featured' ? '⭐' : ''
                    a(href=item.link)= item.title
                    small &nbsp;by&nbsp;
                    span= item.altTitle

    if mustread
        h4 Mustreads
        .box
            for item in mustread.slice(0, 4)
                p
                    a(href=item.link)= item.title
                    small &nbsp;by&nbsp;
                    span= item.altTitle

    if event
        h4 Events
        .box
            for item in event.slice(0, 4)
                p
                    strong= item.level === 'featured' ? '⭐' : ''
                    a(href=item.link)= item.title
                    small &nbsp;by&nbsp;
                    span= item.altTitle

    if notice
        h4 Notices
        .box
            for item in notice.slice(0, 4)
                p
                    strong= item.level === 'featured' ? '⭐' : ''
                    a(href=item.link)= item.title
                    small &nbsp;by&nbsp;
                    span= item.altTitle
