extends layout

block title
    title Hello World!


block nav
block main
    //- .screen.full-screen.center
    //-     h1 Feddy Group

    if news.post
        .box
            for post in news.post
                p
                    span POST:&nbsp;
                    a(href=post.link)= post.title
                    small &nbsp;by&nbsp;
                    span= post.altTitle

    if news.news
        .box
            for post in news.news
                p
                    span NEWS:&nbsp;
                    a(href=post.link)= post.title
                    small &nbsp;by&nbsp;
                    span= post.altTitle

    if news.event
        .box
            for post in news.event
                p
                    span EVENT:&nbsp;
                    a(href=post.link)= post.title
                    small &nbsp;by&nbsp;
                    span= post.altTitle

    if news.notice
        .box
            for post in news.event
                p
                    span NOTICE:&nbsp;
                    a(href=post.link)= post.title
                    small &nbsp;by&nbsp;
                    span= post.altTitle
